.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__cat-energy {
  padding: 39px 76px 32px;
}

@media (min-width: @tablet-width) {
  .about-us {
    flex-direction: row;
    justify-content: space-between;
  }
}
