.academy__link {
  font-size: 16px;
  color: @dark-grey;
  text-decoration: none;
}

.academy__title {
  font-family: @font-family-second;
  font-size: 16px;
  line-height: @line-height-main;
}

.academy {
  padding: 22px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.academy-logo {
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .academy {
    width: 163px;
    padding: 0;
  }
}
