.benefits {
  padding: 0 20px 8px 20px;
}

.benefits__title {
  color: @black;
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.benefits__description {
  color: @dark-grey;
  font-family: @font-family-second;
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .benefits__list {
    display: grid;
    grid-template-columns: 230px 230px;
    column-gap: 153px;
    row-gap: 37px;
  }

  .benefits {
    padding: 45px 30px 90px 30px;
  }

  .benefits__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .benefits__item {
    width: 230px;
  }

  .benefits__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .benefits {
    padding: 52px 110px 69px 110px;
  }

  .benefits__title {
    margin-bottom: 51px;
  }

  .benefits__list {
    display: flex;
  }

  .benefits__item {
    width: 230px;
    margin-right: 94px;
  }
}
