.button {
  color: @white;
  background-color: @green-main;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  border: 0;
  font-family: @font-family-main;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: @green-hover;
  }

  &:focus {
    background-color: @green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    opacity: 0.3;
  }
}
