.filters {
  background-color: @white;
  padding-bottom: 32px;
}

.filters__info-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.filters__info {
  text-transform: uppercase;
  color: @black;
  margin: 0;
  margin-bottom: 39px;
  margin-right: 74px;
}

@media (min-width: @tablet-width) {
  .filters {
    padding-bottom: 72px;
  }

  .filters__info-wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }

  .filters__info {
    margin-bottom: 66px;
    margin-right: 248px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .filters {
    padding-bottom: 82px;
  }

  .filters__info-wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }

  .filters__info {
    margin-right: 895px;
  }
}
