.options {
  padding: 0 20px 20px 20px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.options__item {
  background-color: @lightest-grey;
  padding: 30px 33px 18px 20px;
  position: relative;

  ::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 25px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: @green-main;
    border-radius: 50%;
  }

  ::after {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.options__item-loosing-weight {
  margin-bottom: 19px;

  ::after {
    left: 30px;
    top: 21px;
    width: 50px;
    height: 50px;
    background-image: url("../img/options-slim-icon.svg");
  }
}

.options__item-gaining-weight {
  ::after {
    left: 12px;
    top: 35px;
    width: 67px;
    height: 28px;
    background-image: url("../img/options-gain-icon.svg");
  }
}

.options__name {
  color: @black;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  margin-left: 73px;
}

.options__description {
  font-family: @font-family-second;
  color: @dark-grey;
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.options__icon {
  transform: scaleX(1);
  transform-origin: center left;
  transition: 0.5s;
  fill: @black;
  margin-left: 13px;
}

.options__link {
  color: @black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;

  &:hover {
    .options__icon {
      transform: scaleX(1.4);
    }
  }

  &:focus {
    .options__icon {
      transform: scaleX(1.4);
    }
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: @tablet-width) {
  .options {
    padding: 0 30px 0 30px;
  }

  .options__name {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  .options__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 50px;
  }

  .options__link {
    margin-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .options__icon {
    fill: @black;
    margin-left: 22px;
    margin-bottom: 2px;
  }

  .options__item-loosing-weight {
    margin-bottom: 31px;

    ::after {
      left: auto;
      top: 81px;
      right: 92px;
      width: 140px;
      height: 194px;
      background-image: url("../img/options-slim-icon-tablet.svg");
    }
  }

  .options__item-gaining-weight {
    ::after {
      left: auto;
      top: 135px;
      right: 28px;
      width: 268px;
      height: 112px;
      background-image: url("../img/options-gain-icon-tablet.svg");
    }
  }

  .options__item {
    padding: 77px 316px 58px 52px;

    ::before {
      content: "";
      position: absolute;
      right: 61px;
      left: auto;
      top: 92px;
      display: block;
      width: 200px;
      height: 200px;
      background-color: @green-main;
      border-radius: 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .options {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    padding: 0 110px 0 110px;
  }

  .options__item {
    padding: 78px 51px 59px 52px;

    ::before {
      content: "";
      position: absolute;
      right: auto;
      left: 52px;
      top: 47px;
      display: block;
      width: 100px;
      height: 100px;
      background-color: @green-main;
      border-radius: 50%;
    }
  }

  .options__item-loosing-weight {
    margin-bottom: 0;

    ::after {
      left: 67px;
      top: 41px;
      right: auto;
      width: 70px;
      height: 97px;
      background-image: url("../img/options-slim-icon-desktop.svg");
    }
  }

  .options__item-gaining-weight {
    margin-bottom: 0;

    ::after {
      left: 33px;
      top: 67px;
      right: auto;
      width: 134px;
      height: 56px;
      background-image: url("../img/options-gain-icon-desktop.svg");
    }
  }

  .options__name {
    font-size: 36px;
    line-height: 36px;
    margin-left: 162px;
    margin-bottom: 73px;
  }

  .options__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 27px;
  }

  .options__link {
    font-size: 20px;
    line-height: 30px;
  }
}
