.show-more {
  padding: 78px 20px 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -15px;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    display: block;
    margin-left: -15px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  }
}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @light-black;
  display: block;
  margin-bottom: 8px;
}

.show-more__text {
  font-family: @font-family-second;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @dark-grey;
  display: block;
  margin-bottom: 21px;
}

.show-more__button {
  font-size: 16px;
  color: @dark-grey;
  background-color: @lightest-grey;
  padding: 11px 20px;
  width: 100%;

  &:hover {
    background-color: @soft-grey;
  }

  &:focus {
    background-color: @soft-grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .show-more {
    padding: 161px 40px 40px 40px;
    border: 2px solid @lightest-grey;
    margin-top: 80px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 82px;
      left: 50%;
      margin-left: -30px;
      display: block;
      width: 60px;
      height: 2px;
      background-color: #d3d3d3;
    }

    &::after {
      content: "";
      position: absolute;
      top: 83px;
      left: 50%;
      margin-left: -30px;
      display: block;
      width: 60px;
      height: 2px;
      background-color: #d3d3d3;
      transform: rotate(90deg);
    }
  }

  .show-more__title {
    font-size: 20px;
    margin-bottom: 23px;
    width: 134px;
    margin-left: auto;
    margin-right: auto;
  }

  .show-more__text {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
    width: 167px;
    margin-left: auto;
    margin-right: auto;
  }
}
