.slider {
  position: relative;
  width: 280px;
  height: 256px;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 280px 256px;
}

.slider__image-before {
  background-image: url("../../../source/img/slider-before--mobile.png");
  width: 50%;
}

.slider__image-after {
  background-image: url("../../../source/img/slider-after--mobile.png");
  width: 100%;
}

@media (min-width: @tablet-width) {
  .slider {
    width: 560px;
    height: 512px;
  }

  .slider__image {
    background-size: 560px 512px;
  }

  .slider__image-before {
    background-image: url("../../../source/img/slider-before--tablet.png");
  }

  .slider__image-after {
    background-image: url("../../../source/img/slider-after--tablet.png");
  }
}
