.welcome {
  font-family: @font-family-main;
}

.welcome__contacts {
  margin: 26px 20px;
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @light-black;
  margin: 0;
}

.contacts__address {
  font-family: @font-family-second;
  color: @dark-grey;
  font-size: @font-size-main;
  line-height: 20px;
  margin: 0;
}

.welcome__map {
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
